main {
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 6fr;
    padding-left: 10px;
    align-items: center;
}

input {
    height: 2rem;
    width: 12rem;
    border: green solid 5px;
    display: grid;
    align-items: center;
    margin-left: 10%;
    border-radius: 15%;
    font-size: 1.25rem;
}
 

.push {
    height: 4rem;
    width: 12rem;
    border: green solid 7px;
    font-size: 1.2rem;
    margin-left: 10%;
    border-radius: 20%;
}