main {
    position: sticky;
    display: inline-grid;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    padding-left: 10px;
    align-items: center;
}



input {
    height: 2rem;
    width: 12rem;
    border: green solid 5px;
    display: grid;
    align-items: center;
    margin-left: 10%;
    border-radius: 15%;
    font-size: 1.25rem;
    background-color: #67d551;
}

.quant {
    border: solid 5px hsl(180, 58%, 51%);
    background-color: #46ffff;
}
 

.push {
    height: 4rem;
    width: 12rem;
    border: #72015d solid 7px;
    font-size: 1.2rem;
    margin-left: 10%;
    border-radius: 20%;
    background-color: #aa008c;
    color: white;
}